<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <!-- Integration Test Azure Emulator Tools -->
    <!-- Substitutions in these paths are performed by AzureIntegrationTestBase.cs -->
    <add key="AzureIntegrationTestBase.AzureStorageTool"
         value="%SYSTEMDRIVE%\Program Files (x86)\Microsoft SDKs\Azure\Storage Emulator\AzureStorageEmulator.exe" />
    <add key="AzureIntegrationTestBase.AzureStorageStartArguments" value="start" />
    <add key="AzureIntegrationTestBase.AzureStorageStopArguments" value="stop" />
    <add key="AzureIntegrationTestBase.AzureStorageResetArguments" value="clear all" />

    <add key="SubscriptionServiceClient.SubscriptionService.BaseUrl" value="http://localhost:8080/"/>
  </appSettings>
</configuration>