<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <!-- Integration Test Azure Emulator Tools -->
    <!-- Substitutions in these paths are performed by AzureIntegrationTestBase.cs -->
    <add key="AzureIntegrationTestBase.AzureStorageTool"
         value="%SYSTEMDRIVE%\Program Files (x86)\Microsoft SDKs\Azure\Storage Emulator\AzureStorageEmulator.exe" />
    <add key="AzureIntegrationTestBase.AzureStorageStartArguments" value="start" />
    <add key="AzureIntegrationTestBase.AzureStorageStopArguments" value="stop" />
    <add key="AzureIntegrationTestBase.AzureStorageResetArguments" value="clear all" />
    <add key="AzureIntegrationTestBase.AzureDeployTool"
         value="%SYSTEMDRIVE%\Program Files\Microsoft SDKs\Azure\Emulator\csrun.exe" />
    <add key="AzureIntegrationTestBase.AzureComputeStartupArguments"
         value="&quot;%TestOutDir%\..\..\TestContent\Cloud\bin\csx&quot; &quot;%TestOutDir%\..\..\TestContent\Cloud\bin\ServiceConfiguration.cscfg&quot; /useiisexpress" />
    <add key="AzureIntegrationTestBase.AzureComputeShutdownArguments" value="/devfabric:shutdown" />

    <add key="SubscriptionServiceClient.SubscriptionService.BaseUrl" value="http://localhost:5567/" />
    <add key="AzureTableWebhookSubscriptionStore.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="AzureTableWebhookSubscriptionStore.Table.Name" value="webhooksubscriptions" />
    <add key="AzureQueueWebhookEventSink.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="AzureQueueWebhookEventSink.Queue.Name" value="webhookevents" />
  </appSettings>
</configuration>